/Archor.class
/Character.class
/GameStart.class
/Magician.class
/Thief.class
/Warrior.class
/Monster.class
/Slime.class
/World.class
/Stump.class
/Pig.class
/Octopus.class
/Slime$1.class
/Fight.class
/Octopus$1.class
/Pig$1.class
/Stump$1.class
